/* Custom Vote Button */
.qa-vote-buttons {
  height: 40px;
}
.qa-vote-first-button {
  top: 12px;
}
.qa-vote-one-button {
  top: 12px;
}
.qa-netvote-count {
  margin-top: 17px;
}
.qa-vote-up-button,
.qa-vote-up-hover,
.qa-vote-up-disabled,
.qa-voted-up-button,
.qa-voted-up-hover {
  background: url(img/thumbs.png) no-repeat;
  height: 30px;
  width: 30px;
}
.qa-vote-up-button {
  background-position: 0 0;
  color: #f1c96b;
}
.qa-vote-up-disabled {
  background-position: 0 -120px;
  color: #CCC;
}
.qa-vote-up-hover,
.qa-vote-up-button:hover {
  background-position: 0 -30px;
  color: #f1c96b;
}
.qa-voted-up-button {
  background-position: 0 -60px;
  color: #f1c96b;
}
.qa-voted-up-hover,
.qa-voted-up-button:hover {
  background-position: 0 -90px;
  color: #f1c96b;
}

/* Vote avatars */
.voted-avatar-list {
  margin-top: 10px;
}
.voted-avatar-list ul{
  list-style-type: none;
}
li.qa-voted-avatar {
  float: left;
  margin: 3px 3px 0 0;
}
